#active {
  background-color: #4CAF50;
}

@media screen and (max-width: 600px) {
  .topnav .bar, 
  .topnav {float: none;}
}

body {
  margin: 0;
  padding: 0;
  background: url(../img/bgcoba.png) center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}

#logoku {
  width: 150px;
  margin-left: 145px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.topnav {
  background-color: #6e7075;
  opacity: 0.8;
  box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 1);
  overflow: hidden;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.card {
  box-shadow: 0 10px 8px 5px rgba(1, 1, 1, 1);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  font-size: 1.5vw;
}

.price {
  color: grey;
  font-size: 22px;
  font-size: 2vw;
}

#cardproduk {
  box-shadow: 0 10px 8px 5px rgba(1, 1, 1, 1);
  max-width: 13%;  
  text-align: left;
  font-family: arial;
  background-color: #dbdbdb;
  font-size: 3vw;

}

#tambahproduk {
  margin-left: 86.5%;
  margin-bottom: 0%;
  font-family: arial;
  background-color: #4CAF50;
  font-size: 2vw;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#deleteproduk button {
  margin-top: -50%;
  background-color: red;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.col {
  font-size: 2vw;
  float: left;
  margin: 5px;
  width: calc( 33.33% - 10px);
}

@media only screen and (max-width: 600px) {
  .col {
    width: calc( 50% - 10px);
  }
}

@media only screen and (max-width: 300px) {
  .col {
    width: 100%;
  }
}

.modalbox {
    margin-left: 25%;
    margin-top: 5%;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    border-radius: 60px;
}

.modalanimasi{
    animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

.isimodal{
    background-color: #6e7075;
    margin: auto;
    padding: 20px;
    width: 50%;
    border-radius: 10px;
}

#modalLogout{
    margin-left: 25%;
    padding: 15px;
    background-color: green;
    border-radius: 30px;
    color: white;
}

#modalKembali{
    padding: 15px;
    background-color: red;
    border-radius: 30px;
    color: white;
}