#active {
  background-color: #4CAF50;
}

@media screen and (max-width: 600px) {
  .topnav .bar, 
  .topnav {float: none;}
}

body {
  margin: 0;
  padding: 0;
  background: url(../img/bgberanda.jpg) center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}

#logoku {
  width: 150px;
  margin-left: 145px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.topnav {
  background-color: #6e7075;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.column {
  float: left;
  width: 30%;
  padding: 1%;
}
.row {
  display: table;
  clear: both;
  margin-left: 7%;
}

.card {
  box-shadow: 0 10px 8px 5px rgba(1, 1, 1, 1);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
  font-size: 1.5vw;
}

.price {
  color: grey;
  font-size: 22px;
  font-size: 2vw;
}

#cardproduk {
  box-shadow: 0 10px 8px 5px rgba(1, 1, 1, 1);
  max-width: 12%;  
  text-align: left;
  font-family: arial;
  background-color: #dbdbdb;
  font-size: 3vw;
}


#deleteproduk button {
  margin-top: -50%;
  background-color: red;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
